# ignore everything in the root except the "wp-content" directory.
!wp-content/
# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
<p>Medusa é famosa na mitologia grega. De forma geral, ela ficou conhecida por ser um mostro ctônico terrível, do sexo feminino. Sobre sua aparência, basicamente, ela é representada com serpentes no lugar dos cabelos. Também conta com presas de bronze e asas de ouro.
